html, body {
	background-color: #d7d4d4;
	margin: 0;
	padding: 0;
	height: 100%; /* braucht es für die min-height des Containers */
	font-family: Verdana, sans-serif;
}

div#container {
	position: relative; /* braucht es für die Footer Position*/
	margin: 0 auto; /* Zentriert die Seite (nicht in IE5) */
	width: 99%;
	height: auto !important; /* normale Browser */
	height: 100%; /* IE6: setzt dies wie min-height um*/
	min-height: 100%; /* normale Browser */
	background-color: orange;
}

#left {
	float: left;
	width: 200px;
	padding:5px;
	height: auto !important; /* normale Browser */
	height: 100%; /* IE6: setzt dies wie min-height um*/
	min-height: 100%; /* normale Browser */
	background-color: fuchsia; 
}

#center {
 	margin: 0 210px;
	padding:5px;
	height: auto !important; /* normale Browser */
	height: 100%; /* IE6: setzt dies wie min-height um*/
	min-height: 100%; /* normale Browser */
	background-color: #d7d4d4;
}

#right {
	float: right;
	padding:5px;
	width: 200px;
	background-color: maroon;
	height: auto !important; /* normale Browser */
	height: 100%; /* IE6: setzt dies wie min-height um*/
	min-height: 100%; /* normale Browser */
}

.schedule{
	width: 350px;
	background-color: aqua;
}

div#footer {
	position: absolute;
	width: 95%;
	bottom: 0; /* Positioniert dies ganz unten */
	padding-right: 10;
	margin-right: 10;
	text-align: right;
}
h2 {
	font-size: 1.2em;
}

/*** override primefaces styles ***/
.ui-tree {
    position: relative;
    width: 200px;
}